body {
	width: 100%;

}
header {
    margin: 0 auto;
    background: rgb(18, 199, 190);
}
.content {
    margin: auto;
    padding: 20px;
    width: 80%;
}
img {
    width: 300px;
    height: 200px;
}
.name {
    color: rgb(158, 2, 150);
    font-size: 20px;
    font-weight: 800;
}
.slick-prev:before, .slick-next:before {
    color: rgb(4, 15, 175);
}
@media (min-width:700px) and (max-width:1020px) {
    .name {
        font-size: 40px;
   }
    img {
        width: 132px;
        height: 185px;
   }
}
@media (min-width:1021px) {
    .name {
        font-size: 52px;
   }
    img {
        width: 190px;
        height: 240px;
   }
}
